/* This could also just be 'html' selector.
  More info here: https://stackoverflow.com/questions/15899615/whats-the-difference-between-css3s-root-pseudo-class-and-html
  */
html {
  --primary: #6200ee;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --secondary-variant: #018786;
  --background: #fff;
  --error: #b00020;
  --primary-text: #fff;
  --secondary-text: #000;
  --border-primary: solid var(--primary-variant) 3px;
  --border-secondary: solid var(--secondary-variant) 3px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

h1,
h2,
h3 {
  margin: 2.75rem 0 1rem;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
  text-align: center;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

p,
a,
label,
input {
  font-size: 1.563em;
  line-height: 1.44;
}

nav a {
  font-size: 1.25em;
}

input {
  padding: 3px;
}

figure,
img,
video {
  max-width: 100%;
}

section {
  padding: 2.4rem;
}

article {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1.2rem;
}

article:first-child {
  margin-top: 1.2rem;
}

header,
section:nth-of-type(odd),
footer {
  background: var(--primary);
  color: var(--primary-text);
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

figure,
h2 {
  margin: 0;
}

header img {
  border-radius: 50%;
  box-shadow: 0.4rem 0.4rem 0.4rem black;
  margin-bottom: 0.8rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

nav ul {
  text-align: center;
}

nav li {
  padding: 0.8rem 0;
}

nav,
section:nth-of-type(even) {
  background: var(--secondary);
  color: var(--secondary-text);
}

nav {
  border-top: var(--border-secondary);
  border-bottom: var(--border-secondary);
  min-height: 4.8rem;
}

input,
textarea,
button {
  border-radius: 3px;
}

input,
textarea {
  border: solid thin black;
  max-width: 80vw;
}

footer {
  border-top: var(--border-primary);
  padding: 1.6rem;
}

footer a {
  color: white;
}

footer ul {
  /* By default, this will do flex-direction: row; */
  display: flex;
  justify-content: space-between;
}

footer a,
nav a,
.hero a,
.read-more-btn {
  /* Remove underline. */
  text-decoration: none;
}

.hero a,
.read-more-btn {
  border-radius: 3px;
  padding: 0.8rem;
}

.hero a {
  background: var(--secondary);
}

.read-more-btn {
  background: white;
  display: inline-block;
  margin: 0.8rem 0;
}

.fas {
  font-size: 4.8em;
}

nav .fas {
  margin: 0.8rem;
  position: absolute;
  transform: translateX(calc(100vw - 4.8rem));
}

.is-hidden--mobile {
  font-size: 0;
  height: 0;
}

.hero {
  align-items: center;
  background: url(https://picsum.photos/680/420) center center no-repeat;
  background-size: cover;
  display: flex;
  height: 20vh;
  justify-content: center;
  max-height: 420px;
}

form,
form div {
  display: flex;
  flex-direction: column;
}

form {
  padding: 0.8rem;
}

form div {
  margin: 0.4rem 0;
}

input[type="submit"] {
  background: var(--secondary);
  border-radius: 3px;
  display: inline-block;
  margin: 0.8rem 0;
  min-height: 2.4rem;
  max-width: 4.8rem;
  text-align: center;
}

canvas {
  display: none;
}

.fotos {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80vw;
}

.fotos figure {
  margin: 0.8rem 0;
}

#modal {
  background: black;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  padding-bottom: 2.4rem;
  position: absolute;
  transition: transform 0.2s ease-in-out;
  width: 80vw;
}

#modal button {
  background: var(--primary-variant);
  color: white;
  margin-left: auto;
  margin-top: auto;
  max-width: 48px;
  transform: translateY(1.2rem);
}

.is-valid {
  border: solid green thin;
}

.is-invalid {
  border: solid red thin;
}

.is-hiding {
  transform: translateX(-100vw) translateY(10vh);
}

.is-showing {
  margin-bottom: 1.6rem;
  transform: translateX(10vw);
}

/* This should apply for tablets and above! */
@media screen and (min-width: 768px) {
  section {
    display: flex;
    flex-direction: column;
  }

  .read-more-btn {
    align-self: center;
    max-width: 30.25rem;
    text-align: center;
  }

  .hero {
    height: 40vh;
  }

  .is-hidden--tablet {
    font-size: 0;
    height: 0;
  }

  .fotos {
    display: grid;
    grid-gap: 0.8rem;
    grid-template-columns: repeat(2, 50fr);
  }

  .fotos figure {
    margin: 0;
  }
}

/* This should apply for desktops and above. */
@media screen and (min-width: 1024px) {
  header {
    flex-direction: row;
    padding: 1.6rem;
  }

  header figure {
    margin-right: 1.6rem;
  }

  nav {
    min-height: 5.8rem;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  section {
    padding-bottom: 3px;
  }

  section p {
    margin-bottom: auto;
  }

  .hero {
    height: 60vh;
  }

  .fotos {
    grid-template-columns: repeat(3, 33fr);
  }

  .flex-container--desktop {
    display: flex;
  }

  .flex-row--desktop {
    flex-direction: row;
  }

  .is-hidden--desktop {
    font-size: 0;
    height: 0;
  }

  .is-shown--desktop {
    font-size: initial;
  }

  .is-hiding {
    transform: translateX(-100vw);
  }

  .is-showing {
    transform: translateX(10vw);
  }
}
